services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: forecast_bot
    ports:
      - "8080:8080"
    env_file:
      - .env
    environment:
      TOKEN: ${TOKEN}
      WEBHOOK_URL: ${WEBHOOK_URL}
      ADMIN_ID: ${ADMIN_ID}

  postgres:
    image: postgres:17
    container_name: postgres
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "4444:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  
  redis:
    image: redis:latest
    container_name: redis
    ports:
      - "6379:6379" 
    volumes:
      - redis_data:/data

volumes:
  pgdata:
  redis_data: